* {
  padding: 5px;
}
form {
  display: table;
  border: 1px solid black;
}
.formContainer {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
form .row {
  display: table-row;
}
label,
input[type="text"],
input[type="email"],
input[type="checkbox"],
input[type="tel"],
textarea,
select,
input[type="radio"],
input[type="reset"] {
  display: table-cell;
  margin: 10px;
}

textarea {
  vertical-align: top;
}
