.app-container {
    border: 1px solid black;
    margin: 3em auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
.cart-container {
    padding: 10px;
}
.product-container {
    padding: 10px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    overflow: hidden;
}
.card-container {
    border: 1px solid black;
    padding: 10px;
    width: 15%;
    text-align: center;
}
.card-body {
    padding: 10px;
}